<form novalidate class="form" #form="ngForm" (ngSubmit)="process()">
  <div class="form-group">

    <input type="text" class="form-control"   placeholder="Nom et prenom" required minlength="5"
     [(ngModel)]="newItem.name" name="name" #nameCtrl="ngModel">

<div class="alert alert-danger" *ngIf="nameCtrl.invalid && nameCtrl.touched">champs invalide</div>
  </div>
  <div class="form-group" >

    <input type="text" class="form-control"  placeholder="ref.ex" required minlength="4"
    [(ngModel)]="newItem.reference" name="reference">
  </div>
  <div class="form-group">
    <select class="form-control" [(ngModel)]="newItem.state" name="state">
      <option *ngFor="let libelle of stateLibelles" [ngValue]="libelle">{{libelle}}</option>

    </select>
  </div>
  <div class="form-group">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

  </div>

</form>
