

<div class="card">
    <div class="card-header">

        <span class="state-alivrer" *ngIf="state.ALIVER === item.state">
          {{ item.state }}
        </span>
        <span class="state-encours" *ngIf="state.ENCOURS === item.state">
          {{ item.state }}
       </span>

       <span class="state-livree" *ngIf="state.LIVREE === item.state">
          {{ item.state }}
       </span>
       <span [appState]="item.state">{{ item.state }}</span>
       </div>
      <div class="card-body">
        <h5 class="card-title">Nom: {{item.name}}</h5>
        <p class="card-text">Reference :{{item.reference}}</p>
        <button class="btn btn-primary" *ngIf="state.ALIVER === item.state" (click)="changeState(state.ENCOURS)">{{state.ENCOURS}}</button>
        <button class="btn btn-primary" *ngIf="state.ENCOURS === item.state" (click)="changeState(state.LIVREE)">{{state.LIVREE}}</button>
      </div>
    </div>

