.state-alivrer{
  color :rgb(16, 16, 133) ;

}


.state-encours{
  color :rgb(155, 96, 29);

  }
  .state-livree{
    color :rgb(155, 29, 98);

    }

    .state-livree{
      color :rgb(155, 29, 98);

      }



